button,
button:focus {
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    outline-style: none;
}

.filter-btn {
    width: 120px;
    height: 40px;
    border: solid 4px #0f00ff;
    font-family: Inconsolata;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.buttom_more {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.filter-option-btn {
    box-shadow: 0 8px 30px 0 rgba(227, 227, 227, 0.38);
    display: inline-block;
    font-family: Inconsolata;
    font-size: 14px;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.filter-option-btn.selected {
  box-shadow: 0 8px 30px 0 rgba(64, 62, 246, 0.31);
  background-color: #3d3bee;
  display: inline-block;
  font-family: Inconsolata;
  font-size: 14px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
}


.modal-filter-btn {
  width: 100%;
  border: solid 4px #0f00ff;
  font-family: 'Merriweather';
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #0f00ff;
  padding-top: 25px;
  padding-bottom: 25px
}
