button,
button:focus {
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
}

.filter-btn {
    width: 120px;
    height: 40px;
    border: solid 4px #0f00ff;
    font-family: Inconsolata;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.buttom_more {
    width: 90px;
    height: 90px;
    object-fit: contain;
}
