.nav {
  margin-right: $margin-frame;
  li {
    display: inline-block;
    font-family: 'Merriweather';
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
    text-align: center;
    color: #000000;
    padding-left: 16px;
  }

  button {
    border: solid 4px #0f00ff;
    font-family: 'Inconsolata';
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    background-color: white;
  }
}

.logo-container{
  margin-left: $margin-frame;
  width: 200px;
  height: 62px;
  object-fit: contain;
}

.filters-container {
  padding-right: $margin-frame;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.load-more-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
