header {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 27px;
  .logo-container{
    margin-left: $margin-frame;
    .logo-text{
      color: #0f00ff;
      font-family: 'Merriweather';
      font-size: 60px;
      font-weight: bold;
      line-height: 1.8;
      padding-left: 16px;
      text-align: center;
      display: inline-block;
      margin:0;
    }
  }

}

.footer {
  background-color: #0f00ff;
  height: 60px;
  display: flex;
  align-items: center;
}

.footer p {
  color: white;
  font-weight: bold;
  padding-left: 60px;
  font-family: 'Merriweather';
}

.manifesto {
  width: 100%;
}

.manifesto .verba {
  color: #0f00ff;
  font-family: Merryweather;
  font-weight: bold;
}

.manifesto a:link,
.manifesto a:visited,
.manifesto a:hover,
.manifesto a:active {
  text-decoration: none;
  text-color: #0f00ff;
}

.manifesto h1 {
  font-family: Merryweather;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
